#{extends 'admin_page_template.html' /}
<div class="page-header">
    <h1>添加文章</h1>
</div>
<form id="form-wizard" class="form-horizontal" method='post' class="row">

    <div class="col-sm-8 form-group">
        <div class="col-sm-12">
                <input type="text" id="title" name="title" placeholder="文章标题" class="col-xs-12 col-sm-12">
            </div>

        <div class="col-sm-12" style="margin-top: 10px">
            <textarea id="editor" name="content" class="col-sm-12" style="height:400px;">
                &lt;strong&gt;内容&lt;/strong&gt;
            </textarea>
        </div>
        <input type="hidden" name="category_id" id="category_id" value="${categories[0].id}">
    </div>
    
    <div class="col-sm-4">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="smaller">
                    分类
                </h4>
            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <div id="categories_tree">
                    	<ul>
                    		#{list items:categories, as:'category'}
                    			<li category_id="${category.id}" #{if categories[0].id==category.id}class="jstree-clicked"#{/if}>${category.name}</li>
                    		#{/list}
                    	</ul>
                    </div>
                    <div class="row">
                        <div class="col-xs-12" style="text-align: center">
                            <hr/>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


<link rel="stylesheet"  href="@{'/public/assets/css/zTreeStyle.css'}">
<script src="@{'/public/assets/js/ckeditor/ckeditor.js'}"></script>

<script charset="utf-8" src="@{'/public/assets/js/jquery.validate.min.js'}"></script>
<!--<script src="@{'/public/assets/js/jquery.wizard.js'}"></script>-->
<script charset="utf-8" src="@{'/public/assets/js/efm_option.js'}"></script>
<script charset="utf-8" src="@{'/public/assets/js/jstree/jstree.min.js'}"></script>
<link rel="stylesheet" href="@{'/public/assets/js/jstree/themes/default/style.min.css'}" />
<script>
    CKEDITOR.replace('editor',{
    	filebrowserUploadUrl: '@{admin.MediaPar.ajaxAdd}'
    });
    $(function(){
    	$('#categories_tree')
    		.on('changed.jstree', function(e, data){
    			$('#category_id').val(data.node.li_attr.category_id);
    		})
    		.jstree()
    });
</script>