<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dream-CMS</title>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap.min.css'}" />
    <link rel="stylesheet" href="@{'/public/stylesheets/bootstrap-responsive.min.css'}" />
    <link rel="stylesheet" href="@{'/public/stylesheets/matrix-login.css'}" />
    <link href="@{'/public/font-awesome/css/font-awesome.css'}" rel="stylesheet" />
    <link rel="stylesheet" href="@{'/public/stylesheets/fontcss.css'}" />
</head>
<body>
    <div >
        <!--<img id = "bgimg"src="@{'/public/images/loginbg.jpg'}" style="width: 100%; height:auto; margin-top: -261px; position: absolute;">-->
        <!--<img id="bg" src="@{'/public/images/loginbg.jpg'}" width="100%" height="100%" style="right: 0; bottom: 0;position: absolute; top: 0; "/>-->
    </div>

    <div id="loginbox">

        <h3><img src="@{'/public/images/logo.png'}" alt="Logo"></h3>
        <div class="login">
            <form method="post" name="loginform" id="loginform" novalidate="novalidate" class="form-vertical" action="@{admin.login.Verification}">
                <div class="control-group">
                    <h2 class="title-text">欢迎登录Dream-CMS</h2>
                </div>
                <div class="controls"  style="display:none;" id="err">
                    <span class="label label-important label-max">用户名或密码错误</span>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" name="username" placeholder="用户名">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="main_input_box">
                            <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" name="password" placeholder="密码">
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-register">注册</a></span>
                    <span class="pull-left"><a href="#" class="flip-link btn btn-info" id="to-recover">忘记密码？</a></span>
                    <!--<input type="submit" value="登录" class="btn btn-success" id="to-login">-->
                    <span class="pull-right"><input type="submit" value="登录" class="btn btn-success" id="to-login"></span>
                </div>
            </form>
            <form id="recoverform" action="#" class="form-vertical">
                <p class="normal_text">下面输入您的电子邮件地址，我们将给你发送邮件如何恢复密码。</p>

                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address">
                    </div>
                </div>

                <div class="form-actions">
                    <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-back"><i class=" icon-circle-arrow-left"> 返回</i></a></span>
                    <span class="pull-right"><a class="btn btn-info">重置</a></span>
                </div>
            </form>
            <form id="registerform" action="#" class="form-vertical">
                <p class="normal_text">2222</p>

                <!--<div class="controls">-->
                    <!--<div class="main_input_box">-->
                        <!--<span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-actions">-->
                    <!--<span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-back2"><i class=" icon-circle-arrow-left"> 返回</i></a></span>-->
                    <!--<span class="pull-right"><a class="btn btn-info">重置</a></span>-->
                <!--</div>-->
            </form>

        </div>
        <div class="row-fluid">
            <div id="footer" class="span12"> 2013 &copy; boeray. Brought to you by <a href="http://www.boeray.com" style="color: #ffffff">Boeray</a> </div>
        </div>
    </div>
    <script src="@{'/public/javascripts/jquery-1.7.2.min.js'}"></script>
    <script src="@{'/public/javascripts/jquery.ui.custom.js'}"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}"></script>
    <script src="@{'/public/javascripts/matrix.js'}"></script>
    <script src="@{'/public/javascripts/jquery.validate.js'}"></script>
    <script src="@{'/public/javascripts/jquery.uniform.js'}"></script>
    <script src="@{'/public/javascripts/jquery.form.min.js'}"></script>
<script src="@{'/public/javascripts/myEvent.js'}"></script>
<script src="@{'/public/javascripts/matrix.login.js'}"></script>

</body>
</html>
