#{extends 'moyuan.html'/}
#{set title:'墨缘798' /}
<body id="support-page" style="display: block;" huaban_screen_capture_injected="true">
<div id="container">
    <script src="@{'/public/Theme/main/site_top.js'}"></script>

    <div class="current-location-wrap">
        <p class="current-location">
            <a href="@{Application.index()}" style="color:#ffffff" class="CurrChnlCls">首页</a>&gt;
            <a href="@{Hzzc.index()}" style="color:#ffffff" class="CurrChnlCls">合作支持</a>
        <p class="sub-nav">
            <a href="@{Hzzc.hzfs()}" id="channel_2166">合作方式</a>|
            <a href="@{Hzzc.index()}" id="channel_2190">联系我们</a>|
            <a href="@{Hzzc.index()}" id="channel_2178">捐赠我们</a>
        </p>
    </div>

    #{doLayout/}
    <script src="@{'/public/Theme/main//site_bottom.js'}"></script>
</div>

</body>