#{extends './hzzc_model.html'/}

<div id="content" class="clearfix">
    <div class="open-date-wrap news-rec-list-wrap news-bulletin">
        <div class="title3">
            <h2>合作方式</h2>
        </div>
        <div class="inner">
            ${hzfs.raw()}

        </div>
    </div>

    <div class="open-date-wrap news-rec-list-wrap news-bulletin">
        <div class="title3">
            <h2>联系我们</h2>
        </div>
        <div class="inner">
            ${lxwm.raw()}

        </div>
    </div>
    <div class="open-date-wrap news-rec-list-wrap news-bulletin">
        <div class="title3">
            <h2>捐赠我们</h2>
        </div>
        <div class="inner">
            ${jzwm.raw()}

        </div>
    </div>
</div>