#{extends './mjmz_model.html'/}
#{set title:'墨缘798' /}
<script type="text/javascript">
    $(document).ready(function () {
        $(".current-location").append(">     作品展示");
        $("#zxzl").attr('class','current');
    });
</script>

<div id="content">
<div class="collection-list">
<h2 class="title">${title}</h2>
<div class="list">
<ul class="clearfix">
    #{list items:plist, as:'data' }

<li>
    <p class="image">
        <a href="@{Mjmz.pages(data.id)}" target="_blank"><img src="${data.mappath}" width="100" height="100" border="0"></a>
    </p>
    <div class="text">
        <h3><a href="@{Mjmz.pages(data.id)}" target="_self" title="${data.title}">${data.title}</a></h3>
        <p>作者：${data.author}</p><p>创作年代：${data.createtime}</p><p>规格：${data.size}cm</p>
    </div>
</li>

    #{/list}
</ul>
</div>
<div class="pages">
    <ol class="clearfix">
        <script language="JavaScript">document.write(getPageNav(1, 0, 1, 'index', 'htm'));</script>

    </ol>
</div>
</div>
</div>