#{extends './mjmz_model.html'/}
#{set title:'墨缘798' /}
<script type="text/javascript">
    $(document).ready(function () {
        $('.current-exh-slider ul').before('<p id="num-nav1" class="num-nav">').cycle({
            timeout: 5000,
            pager: '#num-nav1'
        });
        $('.upcoming-exh-slider ul').before('<p id="num-nav2" class="num-nav">').cycle({
            timeout: 5000,
            pager: '#num-nav2'
        });
        $('.online-exh-slider ul').before('<p id="num-nav3" class="num-nav">').cycle({
            timeout: 8000,
            pager: '#num-nav3'
        });
        $('.choice-exh-slider ul').before('<p id="num-nav4" class="num-nav">').cycle({
            timeout: 8000,
            pager: '#num-nav4'
        });

        hoverMask(".slider-content li, .rec-exh-video-list li");
    });
</script>

<div id="content" class="exh-lists">
<div class="sliders-list clearfix">
    <div class="exh-slider-wrap current-exh-slider">
        <div class="slider-content">
            <p id="num-nav1" class="num-nav"></p>
            <ul>
            #{list items:zptj, as:'data' }
            <li>
                #{if data.artClass == "文章"}
                    <a href="@{New.pages(data.artid)}" target="_blank">
                #{/if}
                #{else}
                    <a href="@{Mjmz.pages(data.artid)}" target="_blank">
                #{/else}
                    <img src="${data.mappath}" style="width:480px; height:450px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>
                            <h3 title="${data.remark}">${data.remark}</h3>
                        </div>
                    </div>
                    <span class="mask" style="width: 480px; height: 450px; top: 0px; left: 0px; opacity: 0.4; display: inline;"></span></a>
            </li>
            #{/list}



        </ul>
        </div>
        <h3 class="title"><span><a href="./zlzx/" target="_blank" style="color:#ffffff">作品推荐</a></span></h3>
    </div>

    <div class="exh-slider-wrap upcoming-exh-slider">
        <div class="slider-content">
            <p id="num-nav2" class="num-nav">
            <ul>
            #{list items:zptj, as:'data' }
            <li>
                #{if data.artClass == "文章"}
                <a href="@{New.pages(data.artid)}" target="_blank">
                    #{/if}
                    #{else}
                    <a href="@{Mjmz.pages(data.artid)}" target="_blank">
                        #{/else}
                        <img src="${data.mappath}" style="width:480px; height:450px; border:0px;" data-pinit="registered">
                        <div class="text">
                            <div>
                                <h3 title="${data.remark}">${data.remark}</h3>
                            </div>
                        </div>
                        <span class="mask" style="width: 480px; height: 450px; top: 0px; left: 0px; opacity: 0.4; display: inline;"></span></a>
            </li>
            #{/list}


        </ul>
        </div>
        <h3 class="title"><span><a href="./zlzx/" target="_blank" style="color:#ffffff">最新作品</a></span></h3>
    </div>
</div>

<div class="sliders-list clearfix">
    <div class="exh-slider-wrap online-exh-slider">
        <div class="slider-content">
            <p id="num-nav3" class="num-nav">
            <ul>

            #{list items:zxzp, as:'data' }
            <li>
                #{if data.artClass == "文章"}
                <a href="@{New.pages(data.artid)}" target="_blank">
                    #{/if}
                    #{else}
                    <a href="@{Mjmz.pages(data.artid)}" target="_blank">
                        #{/else}
                        <img src="${data.mappath}" style="width:480px; height:450px; border:0px;" data-pinit="registered">
                        <div class="text">
                            <div>
                                <h3 title="${data.remark}">${data.remark}</h3>
                            </div>
                        </div>
                        <span class="mask" style="width: 480px; height: 450px; top: 0px; left: 0px; opacity: 0.4; display: inline;"></span></a>
            </li>
            #{/list}


        </ul>
        </div>
        <h3 class="title"><span><a href="./zxzl/" target="_blank" style="color:#ffffff">名家推荐</a></span></h3>
    </div>

    <div class="exh-slider-wrap choice-exh-slider">
        <div class="slider-content">
            <p id="num-nav4" class="num-nav">
            <ul>

            #{list items:mjtj, as:'data' }
            <li>
                #{if data.artClass == "文章"}
                <a href="@{New.pages(data.artid)}" target="_blank">
                    #{/if}
                    #{else}
                    <a href="@{Mjmz.pages(data.artid)}" target="_blank">
                        #{/else}
                        <img src="${data.mappath}" style="width:480px; height:450px; border:0px;" data-pinit="registered">
                        <div class="text">
                            <div>
                                <h3 title="${data.remark}">${data.remark}</h3>
                            </div>
                        </div>
                        <span class="mask" style="width: 480px; height: 450px; top: 0px; left: 0px; opacity: 0.4; display: inline;"></span></a>
            </li>
            #{/list}


        </ul>
        </div>
        <h3 class="title"><span><a href="./gczp/" target="_blank" style="color:#ffffff">在线展览</a></span></h3>
    </div>
</div>

</div>

