#{extends './mjmz_model.html'/}
#{set title:'墨缘798' /}
<script type="text/javascript">
    $(document).ready(function () {
        $(".current-location").append(">     在线展览");
        $("#zxzl").attr('class','current');
    });
</script>
<div id="content" class="topic-wrap exh-online">
    <div class="inner">
        <div class="title clearfix">
            <h2><a href="./" title="在线展览">在线展览</a></h2>
        </div>
    </div>

    <div class="inner">
        <div class="title clearfix">
            <h2>2013</h2>
        </div>
        <div class="pics">
            <ul class="clearfix">
                <li>
                    <a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank">


                        <img src="./2013/201401/W020140107342643051069.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                        <span class="mask" style="width: 306px; height: 242px; top: 0px; left: 0px; opacity: 0.4; display: none;"></span></a>
                    <div class="text">
                        <span class="overlay"></span>
                        <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="2013年08月26日">2013年08月26日</a></span>
                        <h3 title="交互视象——2013海峡两岸当代艺术展"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="交互视象——2013海峡两岸当代艺术展">交互视象——2013海峡两岸当代艺术展</a></h3>
                    </div>

                </li>
                <li>
                    <a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank">


                        <img src="./2013/201401/W020140107342643051069.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                        <span class="mask" style="width: 306px; height: 242px; top: 0px; left: 0px; opacity: 0.4; display: none;"></span></a>
                    <div class="text">
                        <span class="overlay"></span>
                        <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="2013年08月26日">2013年08月26日</a></span>
                        <h3 title="交互视象——2013海峡两岸当代艺术展"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="交互视象——2013海峡两岸当代艺术展">交互视象——2013海峡两岸当代艺术展</a></h3>
                    </div>

                </li>
                <li>
                    <a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank">


                        <img src="./2013/201401/W020140107342643051069.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                        <span class="mask" style="width: 306px; height: 242px; top: 0px; left: 0px; opacity: 0.4; display: none;"></span></a>
                    <div class="text">
                        <span class="overlay"></span>
                        <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="2013年08月26日">2013年08月26日</a></span>
                        <h3 title="交互视象——2013海峡两岸当代艺术展"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="交互视象——2013海峡两岸当代艺术展">交互视象——2013海峡两岸当代艺术展</a></h3>
                    </div>

                </li>
                <li>
                    <a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank">


                        <img src="./2013/201401/W020140107342643051069.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                        <span class="mask" style="width: 306px; height: 242px; top: 0px; left: 0px; opacity: 0.4; display: none;"></span></a>
                    <div class="text">
                        <span class="overlay"></span>
                        <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="2013年08月26日">2013年08月26日</a></span>
                        <h3 title="交互视象——2013海峡两岸当代艺术展"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="交互视象——2013海峡两岸当代艺术展">交互视象——2013海峡两岸当代艺术展</a></h3>
                    </div>

                </li><li>
                <a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank">


                    <img src="./2013/201401/W020140107342643051069.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                    <span class="mask" style="width: 306px; height: 242px; top: 0px; left: 0px; opacity: 0.4; display: none;"></span></a>
                <div class="text">
                    <span class="overlay"></span>
                    <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="2013年08月26日">2013年08月26日</a></span>
                    <h3 title="交互视象——2013海峡两岸当代艺术展"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="交互视象——2013海峡两岸当代艺术展">交互视象——2013海峡两岸当代艺术展</a></h3>
                </div>

            </li><li>
                <a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank">


                    <img src="./2013/201401/W020140107342643051069.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                    <span class="mask" style="width: 306px; height: 242px; top: 0px; left: 0px; opacity: 0.4; display: none;"></span></a>
                <div class="text">
                    <span class="overlay"></span>
                    <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="2013年08月26日">2013年08月26日</a></span>
                    <h3 title="交互视象——2013海峡两岸当代艺术展"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="交互视象——2013海峡两岸当代艺术展">交互视象——2013海峡两岸当代艺术展</a></h3>
                </div>

            </li>




                <li>
                    <a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank">


                        <img src="./2013/201401/W020140107342643051069.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                        <span class="mask" style="width: 306px; height: 242px; top: 0px; left: 0px; opacity: 0.4; display: none;"></span></a>
                    <div class="text">
                        <span class="overlay"></span>
                        <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="2013年08月26日">2013年08月26日</a></span>
                        <h3 title="交互视象——2013海峡两岸当代艺术展"><a href="http://www.namoc.org/quanjing/2013/20131229_hxlasnz/" target="_blank" title="交互视象——2013海峡两岸当代艺术展">交互视象——2013海峡两岸当代艺术展</a></h3>
                    </div>

                </li>

                <li>
                    <a href="http://www.namoc.org/quanjing/2013/20131122_jsyy_ljssyystz/" target="_blank">


                        <img src="./2013/201311/W020131125520232372556.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                    </a>
                    <div class="text">
                        <span class="overlay"></span>
                        <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131122_jsyy_ljssyystz/" target="_blank" title="2013年10月11日">2013年10月11日</a></span>
                        <h3 title="静山远韵——郎静山摄影艺术特展"><a href="http://www.namoc.org/quanjing/2013/20131122_jsyy_ljssyystz/" target="_blank" title="静山远韵——郎静山摄影艺术特展">静山远韵——郎静山摄影艺术特展</a></h3>
                    </div>

                </li>

                <li>
                    <a href="http://www.namoc.org/quanjing/2013/20131122_tbrs_lyqbhysz/" target="_blank">


                        <img src="./2013/201311/W020131125524380186765.jpg" style="width:306px; height:242px; border:0px;" data-pinit="registered">
                    </a>
                    <div class="text">
                        <span class="overlay"></span>
                        <span class="date"><a href="http://www.namoc.org/quanjing/2013/20131122_tbrs_lyqbhysz/" target="_blank" title="2013年08月05日">2013年08月05日</a></span>
                        <h3 title="铁笔如椽——罗映球版画艺术展"><a href="http://www.namoc.org/quanjing/2013/20131122_tbrs_lyqbhysz/" target="_blank" title="铁笔如椽——罗映球版画艺术展">铁笔如椽——罗映球版画艺术展</a></h3>
                    </div>

                </li>


            </ul>
            <p class="more-box"><a href="./2013/">更多...</a></p>
        </div>
    </div>


</div>