#{extends './mjmz_model.html'/}
#{set title:'墨缘798' /}
<script type="text/javascript">
    $(document).ready(function () {
        $(".current-location").append(">     作者名录");
        $("#zzml").attr('class','current');
    });
</script>

<div id="content">
<div class="collection-list">
<h2 class="title">作者名录</h2>
<div class="list">
<ul class="clearfix">
    #{list items:allMember, as:'data' }


    <li style="width:457px;height: auto">
        <a href="" target="_blank">
            <div class="text" style="float:left;margin: 10px 10px 10px 10px;">
                <h1>${data.name}</h1>
                <p>简介：${data.remark}</p>
            </div>
            <p class="image" style="float: right;margin: 10px 10px 10px 10px;width: 150px;height: 150px">
                <a href="" target="_blank"><img src="${data.mappath}" width="150" height="150" border="0" data-pinit="registered"></a>
            </p>
         </a>
    </li>

    #{/list}

</ul>
</div>
<div class="pages">
    <ol class="clearfix">
        <script language="JavaScript">document.write(getPageNav(163, 0, 2442, 'index', 'htm'));</script><li><a href="javascript:gotoListPage(1)" class="current"><span>1</span></a></li><li><a href="javascript:gotoListPage(2)"><span>2</span></a></li><li><a href="javascript:gotoListPage(2)"><span>下一页</span></a></li><li><a href="javascript:gotoListPage(163)"><span>尾页</span></a></li><li><span class="page-info">共2442条</span></li><li><span class="page-info">跳转到第</span></li><li><p class="box"><input type="text" id="inputpage" size="4"></p></li><li><span class="page-info">页</span><input type="button" onclick="jumpPage(163)" value="Go" class="page_goto"></li>

    </ol>
</div>
</div>
</div>