#{extends 'moyuan.html'/}
#{set title:'墨缘798' /}
<body id="news-page" style="display: block;" huaban_screen_capture_injected="true">
<script type="text/javascript">
    $(document).ready(function() {
        $('.news-rec-slider ul').before('<p id="num-nav1" class="num-nav">').cycle({
            timeout: 5000,
            pager: '#num-nav1'
        });

        $('.rec-pic-scroll-wrap .wrap').cycle({
            auto: 1,
            speed: 500,
            fx: 'scrollHorz',
            prev: '#prev1',
            next: '#next1',
            timeout: 4000
        });


        $(".rec-pic-scroll-wrap li").each(function (index) {
            $(this).find("a[rel^=works]").fancybox({
                'transitionIn': 'block',
                'transitionOut': 'block',
                'titlePosition': 'over',
                'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
                    return '<span class="fancybox-title-over-group">' + (title.length ? '' + title : '') + '</span>';
                }
            });
        });
        $('.rec-magazine-wrap .inner').cycle({
            auto: 1,
            speed: 1000,
            fx: 'scrollHorz',
            prev: '#prev1',
            next: '#next1',
            timeout: 4000,
            cleartypeNoBg: true
        });

        /*
         $(".rec-magazine-wrap .content").hScrollPane({
         mover:"ul",
         moverW:function(){return $(".rec-magazine-wrap li").length * 170;}(),
         showArrow:true,
         handleCssAlter:"draghandlealter",
         mousewheel:{moveLength:207}
         });
         */
        hoverMask(".slider-content li");
        hoverMask(".clearfix .image, .rec-exh-video-list li, .rec-pic-scroll-wrap li");
    });
</script>
<div id="container">
<script src="@{'/public/Theme/main/site_top.js'}"></script>


		<div class="current-location-wrap">
			<p class="current-location">
				<a href="../" style="color:#ffffff" class="CurrChnlCls">
					首页
				</a>
				&gt;
				<a href="" style="color:#ffffff" class="CurrChnlCls">
					新闻资讯
				</a>
			</p>
			<p class="sub-nav">
				<a href="@{New.tzgg()}">
					通知公告
				</a>
				|
				<a href="@{New.yjdt()}">
					业界动态
				</a>
				|
				<a href="@{New.xwzt()}">
					新闻专题
				</a>
                |
                <a href="@{New.hzmt()}">
                    合作媒体
                </a>
			</p>
		</div>
		<div id="content">
			<div class="clearfix">
				<div class="n-main-col">
					<div class="exh-slider-wrap news-rec-slider">
						<div class="slider-content">

							<ul>
								<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0;">
									<a href="http://www.namoc.org/xwzx/xw/2013/201312/t20131204_271884.htm"
									target="_blank">
										<img src="@{'/public/Theme/sys/syzxzl/W020131230617094036940.jpg'}" style="width:560px; height:418px; border:0px;"
										data-pinit="registered">
									</a>
									<div class="text">
										<div style="padding-right:13px;">
											<p class="date" style="color:#9fd9c4">
												新闻
											</p>
											<h3 style="color:#FFFFFF;width:100%">
												苏国伟漆画呈现福建地域的人文景观
											</h3>
										</div>
									</div>
								</li>
								<li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1;">
									<a href="http://www.namoc.org/xwzx/xw/2013/201311/t20131123_271517.htm"
									target="_blank">
										<img src="@{'/public/Theme/sys/syzxzl/W020131124727289401307.jpg'}" style="width:560px; height:418px; border:0px;"
										data-pinit="registered">
										<span class="mask" style="width: 560px; height: 418px; top: 0px; left: 0px; opacity: 0.4; display: none;">
										</span>
									</a>
									<div class="text">
										<div style="padding-right:13px;">
											<p class="date" style="color:#9fd9c4">
												新闻
											</p>
											<h3 style="color:#FFFFFF;width:100%">
												20世纪中国美术之旅：走向西部——中国美术馆馆藏精品展
											</h3>
										</div>
									</div>
								</li>
								<li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0;">
									<a href="http://www.namoc.org/xwzx/xw/2013/201311/t20131122_271515.htm"
									target="_blank">
										<img src="@{'/public/Theme/sys/syzxzl/W020131219384070919844.jpg'}" style="width:560px; height:418px; border:0px;"
										data-pinit="registered">
									</a>
									<div class="text">
										<div style="padding-right:13px;">
											<p class="date" style="color:#9fd9c4">
												新闻
											</p>
											<h3 style="color:#FFFFFF;width:100%">
												国家近现代美术研究中心学术研究展"'85与一所艺术学府"启幕
											</h3>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
                    <div class="news-rec-list-wrap news-bulletin" style="height:112px;">
                    <div class="title t-s-bc2">
                        <h2>
                        通知公告
                        </h2>
                        <p class="icons">
                            <a class="rss-ico" href="#">
                            </a>
                            <a class="twitter-ico" href="#">
                            </a>
                            <a class="facebook-ico" href="#">
                            </a>
                        </p>
                    </div>
                    <div class="inner">
                        <ul class="list">

                            #{list items:tzggtop, as:'data' }
                            <li>
                            <a href="@{New.pages(data.id)}" target="_blank" title="${data.title}"
                            style="text-decoration: none;">
                                ${data.title}
                            </a>
                            <span>
                            [${data.time}]
                            </span>
                            </li>
                            #{/list}

                        </ul>
                        <p class="more-box">
                        <a href="@{New.tzgg()}" target="_self">
                        更多...
                        </a>
                        </p>
                    </div>
                    </div>

				</div>
				<div class="n-side-col not-news-list-bg">

					<div class="news-rec-list-wrap news-focus">
						<div class="title t-s-bc3">
							<h2>
								新闻专题
							</h2>
						</div>
						<div class="inner">
							<ul class="list">

                                #{list items:newtop, as:'data' }
								<li>
									<a href="@{New.pages(data.id)}" target="_blank" title="${data.title}"
									style="text-decoration: none;">
                                        ${data.title}
									</a>
									<span>
										[${data.time}]
									</span>
								</li>
                                #{/list}

							</ul>
							<p class="more-box">
								<a href="@{New.xwzt()}" target="_self">
									更多...
								</a>
							</p>
						</div>
					</div>
					<div class="news-rec-list-wrap news-industry">
						<div class="title t-s-bc12">
							<h2>
								业界动态
							</h2>
						</div>
						<div class="inner">
							<ul class="list">
                                #{list items:yjdttop, as:'data' }
                                <li>
                                    <a href="@{New.pages(data.id)}" target="_blank" title="${data.title}"
                                       style="text-decoration: none;">
                                        ${data.title}
                                    </a>
									<span>
										[${data.time}]
									</span>
                                </li>
                                #{/list}

							</ul>
							<p class="more-box">
								<a href="@{New.yjdt()}" target="_self">
									更多...
								</a>
							</p>
						</div>
					</div>

				</div>
			</div>
			<span class="blank-10">
			</span>

			<span class="blank-10">
			</span>
			<div class="rec-magazine-wrap clearfix">
				<div class="content">
					<div class="inner" style="overflow: hidden;">
						<ul style="position: absolute; top: 0px; left: -145.18244400166066px; display: block; z-index: 2; opacity: 1;">

                            #{list items:mediaparlist, as:'data' }

                            <li>
                                <img src="${data.mappath}" style="width:145px; height:192px; border:0px;"
                                     data-pinit="registered">
                            </li>
                            #{/list}



						</ul>
						<ul style="position: absolute; top: 0px; left: 741.9810497415845px; display: block; z-index: 3; opacity: 1;">
							<li>
								<img src="./hzmt/hz2013/yscj/201304/W020131015560963138111.png" style="width:145px; height:192px; border:0px;"
								data-pinit="registered">
							</li>

						</ul>
					</div>
					<p class="more-box">
						<a href="@{New.hzmt}">
							更多合作媒体...
						</a>
					</p>
					<h2 class="title">
						<span>
							合作媒体
						</span>
					</h2>
				</div>
			</div>
		</div>

		




<script src="@{'/public/Theme/main//site_bottom.js'}"></script>
</div>

</body>
