#{extends 'moyuan.html'/}
#{set title:'墨缘798' /}
<!--<script type="text/javascript">-->
    <!--$(document).ready(function () {-->
        <!--$(".current-location").append(">     通知公告");-->
        <!--$("#tzgg").addClass('current');-->
    <!--});-->
<!--</script>-->


<body id="news-page" style="display: block;" huaban_screen_capture_injected="true">
<div id="container">
<script src="@{'/public/Theme/main/site_top.js'}"></script>

<div class="current-location-wrap">
    <p class="current-location">
        <a href="@{Application.index()}" style="color:#ffffff" class="CurrChnlCls">首页</a>&gt;
        <a href="@{New.index()}" style="color:#ffffff" class="CurrChnlCls">新闻资讯</a>
    <p class="sub-nav">
        <a href="@{New.tzgg()}" id="tzgg">通知公告</a>|
        <a href="@{New.yjdt()}" id="yjdt">业界动态</a>|
        <a href="@{New.xwzt()}" id="xwzt">新闻专题</a>|
        <a href="@{New.hzmt()}" id="hzmt">合作媒体</a>
    </p>
</div>

<div id="content">

        <div class="clearfix">
        <div class="n-main-col news-details-wrap">
            <div class="inner details-wrap">
                <div class="head">
                    <h2 class="title">${data.title}</h2>
                    <p class="news-info">
                        <span>作者：${data.author}</span>
                        <span>时间：${data.time}</span>

                    </p>
                </div>


                <div class="content">
                    <div clas="countPage">
                        <div class="TRS_Editor"><div class="Custom_UnionStyle">
                            ${data.content.raw()}
                        </div></div>
                    </div>
                </div>
                <div align="center" style="margin-bottom:10px;">
                    <script language="JavaScript">
                        //createPageHTML(1, 0, "t20140105_272517", "htm");
                        var currentPage = 0;//所在页从0开始
                        //var headPage = "t20140105_272517"+"."+"htm";//首页
                        //var tailPage = "t20140105_272517_" + (countPage-1) + ".htm"//尾页
                        var prevPage = currentPage-1//上一页
                        var nextPage = currentPage+1//下一页
                        var countPage = 1//共多少页
                        //设置上一页代码

                        if(countPage>1){
                            if(countPage>1&&currentPage!=0&&currentPage!=1)
                                document.write("<a href=\"t20140105_272517.htm\">首页</a>&nbsp;|&nbsp;<a href=\"t20140105_272517"+"_" + prevPage + "."+"htm\">上一页</a>&nbsp;");
                            else if(countPage>1&&currentPage!=0&&currentPage==1)

                                document.write("<a href=\"t20140105_272517.htm\">首页</a>&nbsp;|&nbsp;<a href=\"t20140105_272517.htm\">上一页</a>&nbsp;");
                            else
                                document.write("首页&nbsp;|&nbsp;上一页&nbsp;");
                            //循环
                            var num = 9;
                            for(var i=0+(currentPage-1-(currentPage-1)%num) ; i<=(num+(currentPage-1-(currentPage-1)%num))&&(i<countPage) ; i++){
                                if(currentPage==i)
                                    document.write("<font style=' color:#3e8465; padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; '>"+(i+1)+"</font>&nbsp;");							else if(i==0){
                                    document.write("<a href=\"t20140105_272517.htm\" style='padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; '>"+1+"</a>&nbsp;");
                                }else
                                    document.write("<a href=\"t20140105_272517"+"_" + i + "."+"htm\" style='padding-left:5px; padding-right:5px; padding-top:2px; padding-bottom:2px; '>"+(i+1)+"</a>&nbsp;");
                            }
                            //设置下一页代码
                            if(countPage>1&&currentPage!=(countPage-1))
                                document.write("<a href=\"t20140105_272517"+"_" + nextPage + "."+"htm\">下一页</a>&nbsp;|&nbsp;<a href=\"t20140105_272517_" + (countPage-1) + ".htm\">尾页</a>&nbsp;");
                            else
                                document.write("下一页&nbsp;|&nbsp;尾页&nbsp;");

                        }
                    </script>




                    <p align="right">
                        <br><br>
                    </p>
                    <div id="news" class="details-related-news-wrap" style="border-top:0px; line-height:32px;font-size:13px; margin-bottom:20px;display:none;" align="left">
                        <h2 class="title">相关文章</h2>
                        <div style="margin-left:68px;" id="newscontent"></div>
                    </div>
                </div>

                <script language="javascript">
                    var k = document.getElementById("newscontent");
                    if(k.innerHTML.length>0){
                        document.getElementById("news").style.display="block";
                    }
                </script>

                <!-- Baidu Button BEGIN -->
                <div class="share-list-pic">
                    <div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
                        <a class="bds_tsina" title="分享到新浪微博" href="#"></a>
                        <a class="bds_tqq" title="分享到腾讯微博" href="#"></a>
                        <a class="bds_renren" title="分享到人人网" href="#"></a>
                        <a class="bds_kaixin001" title="分享到开心网" href="#"></a>
                        <a class="bds_qzone" title="分享到QQ空间" href="#"></a>
                        <a class="bds_tsohu" title="分享到搜狐微博" href="#"></a>
                        <a class="bds_fbook" title="分享到Facebook" href="#"></a>
                        <span class="bds_more">更多</span>
                    </div>
                </div>
                <!-- Baidu Button END -->
                <div id="relnews" style="display: block;" class="details-related-news-wrap">
                    <h2 class="title">相关新闻</h2>
                    <ul class="list">
                        #{list items:xgxwtop4, as:'data' }
                        <li ><a href="@{New.pages(data.id)}" target="_blank" style="text-decoration: none;">${data.title}</a>
                            <span> [${data.time}]</span></li>
                        #{/list}

                    </ul>
                </div>
                <script language="javascript">
                    var k = document.getElementById("relnewscontent");
                    if(k.innerHTML.length>0){
                        document.getElementById("relnews").style.display="block";
                    }
                </script>

            </div>
        </div>
        <div class="n-side-col news-details-n-side-col">
            <div class="news-rec-list-wrap news-hot">
                <div class="title t-s-bc7">
                    <h2>新闻专题 TOP10</h2>
                    <p class="icons">
                        <a class="rss-ico" href="#"></a>
                        <a class="twitter-ico" href="#"></a>
                        <a class="facebook-ico" href="#"></a>
                    </p>
                </div>
                <div class="inner">
                    <ul class="list">
                        #{list items:newstop10, as:'data' }
                        <li><a href="@{New.pages(data.id)}" target="_blank" style="text-decoration: none;">${data.title}</a>
                            <span> [${data.time}]</span></li>
                        #{/list}
                    </ul>
                </div>
            </div>
            <div class="news-rec-list-wrap news-hot">
                <div class="title t-s-bc7">
                    <h2>业界动态 TOP10</h2>
                    <p class="icons">
                        <a class="rss-ico" href="#"></a>
                        <a class="twitter-ico" href="#"></a>
                        <a class="facebook-ico" href="#"></a>
                    </p>
                </div>
                <div class="inner">
                    <ul class="list">
                        #{list items:yjdttop10, as:'data' }
                        <li><a href="@{New.pages(data.id)}" target="_blank" style="text-decoration: none;">${data.title}</a>
                            <span> [${data.time}]</span></li>
                        #{/list}
                    </ul>
                </div>
            </div>
            <!--tupianxinwen-->
        </div>
        </div>

</div>
<script src="@{'/public/Theme/main//site_bottom.js'}"></script>
</div>

</body>

