#{extends './new_model.html'/}
#{set title:'墨缘798' /}

#{set newstop10:data /}
#{set yjdttop10:data /}

<script type="text/javascript">
    $(document).ready(function () {
        $(".current-location").append(">     通知公告");
        $("#tzgg").attr('class','current');
    });
</script>
<div class="inner">
    <div class="title clearfix">
        <h2>通知公告</h2>
    </div>
    <ul class="news-list">


        #{list items:date, as:'date' }
        <li>
            <span>[${date.time}]</span>
            <a href="@{New.pages(date.id)}" target="_blank" title="${date.title}" style="text-decoration: none;">${date.title}</a>
        </li>
        #{/list}



        <li class="clearfix news-line"></li>




    </ul>
    <div class="pages" style="z-index: 10; position: absolute; top: 1020px; width: 540px;">
        <ol class="clearfix">
            <script language="JavaScript">document.write(getPageNav(2, 0, 32, 'index', 'htm'));</script>

        </ol>
    </div>
</div>