#{extends 'moyuan.html'/}
#{set title:'墨缘798' /}
<body id="swap-page" style="display: block;" huaban_screen_capture_injected="true">
<div id="container">
    <script src="@{'/public/Theme/main/site_top.js'}"></script>

    <div class="current-location-wrap">
        <p class="current-location">
            <a href="@{Application.index()}" style="color:#ffffff" class="CurrChnlCls">首页</a>&gt;
            <a href="@{Tzsc.index()}" style="color:#ffffff" class="CurrChnlCls">投资收藏</a>
        <p class="sub-nav">
            <a href="@{Tzsc.tzsz()}" id="tzsz" >投资升值</a>|
            <a href="http://shop108055118.taobao.com" id="channel_2190" target="_blank">艺术商店</a>
        </p>
    </div>
    <div id="content">
        #{doLayout/}
    </div>

    <script src="@{'/public/Theme/main//site_bottom.js'}"></script>
</div>

</body>