#{extends './tzsc_model.html'/}

<div class="exh-slider-wrap collection-rec-slider" style="height: 300px">
    <div class="overviewsort-list news-rec-list-wrap news-bulletin" style="float: left;width: 49%;height: 280px">
        <dt>投资趋势</dt>
        <div class="inner">
            <ul class="list">



                <li><a href="./tzgg/2013/201307/t20130711_255889.htm" target="_blank" title="关于开展全国公共美术馆建设标准工作调研的通知" style="text-decoration: none;">关于开展全国公共美术馆建设标准工作调研的通知</a>
                 <span>
                 [13-07-11]</span></li>

                <li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li>



            </ul>
            <p class="more-box"><a href="./tzgg/2013/" target="_blank">更多...</a></p>

        </div>

    </div>
    <div class="overviewsort-list news-rec-list-wrap news-bulletin" style="float: right;width: 49%;height: 280px">
        <dt>投资新闻</dt>
        <div class="inner">
            <ul class="list">



                <li><a href="./tzgg/2013/201307/t20130711_255889.htm" target="_blank" title="关于开展全国公共美术馆建设标准工作调研的通知" style="text-decoration: none;">关于开展全国公共美术馆建设标准工作调研的通知</a>
                 <span>
                 [13-07-11]</span></li>

                <li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li>
                <li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li><li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li><li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li><li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li><li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li><li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li>
                <li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li><li><a href="./tzgg/2013/201307/t20130708_255844.htm" target="_blank" title="公告：中国美术馆建馆50周年藏品大展结束时间" style="text-decoration: none;">公告：中国美术馆建馆50周年藏品大展结束时间</a>
                 <span>
                 [13-07-08]</span></li>


            </ul>
            <p class="more-box"><a href="./tzgg/2013/" target="_blank">更多...</a></p>

        </div>

    </div>
</div>
<div class="collection-sort-list">
    <h2 class="title">收藏推荐</h2>
    <div class="list">
        <ul class="clearfix">


            <li>
                <a href="./cpjxs/zgh/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/zgh/images/P020130814583109687527.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>中国画</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/yh/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/yh/images/P020130814583828749897.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>油画</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/bh/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/bh/images/P020130814584588599836.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>版画</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/ds/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/ds/images/P020130814585136093605.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>雕塑</span>
                    <span class="mask" style="width: 299px; height: 240px; top: 0px; left: 0px; opacity: 0.4; display: none;"></span></a>
            </li>




            <li>
                <a href="./cpjxs/smsx/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/smsx/images/P020130814585630779134.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>素描/速写</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/sy/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/sy/images/P020130814586245621408.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>摄影</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/scsf/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/scsf/images/P020130814586738740056.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>水彩/水粉/色粉</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/mh/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/mh/images/P020130814587230775341.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>漫画</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/lhh/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/lhh/images/P020130814588043430984.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>连环画</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/qh/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/qh/images/P020130814588902962093.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>漆画</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/sf/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/sf/images/P020130814589504996243.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>书法</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/xnh/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/xnh/images/P020130814589981712476.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>新年画</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/chat/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/chat/images/P020130814590341244195.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>插图</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/xdzz/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/xdzz/images/P020130814590677811370.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>现代装置</span>
                </a>
            </li>




            <li>
                <a href="./cpjxs/zhys/" target="_blank">
                    <p class="image"><img src="http://www.namoc.org/zsjs/gczp/cpjxs/zhys/images/P020130814590982020788.jpg" style="width:299px; height:240px; border:0px;" data-pinit="registered"></p>
                    <span>综合艺术</span>
                </a>
            </li>



        </ul>
    </div>
</div>