#{extends './other_model.html'/}
#{set title:'墨缘798' /}
<script type="text/javascript">
    $(document).ready(function () {
        $(".current-location").append("网站地图");
        $("#wzdt").addClass('current');
    });
</script>
<div id="content" class="links-wrap site-map-wrap">
    <div class="inner" style="border: 1px solid #978751;">
        <h2 class="m-title" style="color: #978751;">墨缘798网站地图</h2>
        <div class="links-panel home">
            <a href=""><h3 class="title">首页</h3></a>
            <div class="content">
                <ul>
                    <li><a href="">首页</a></li>
                    <li><a href="">友情链接</a></li>
                    <li><a href="">网站地图</a></li>
                    <li><a href="">联系我们</a></li>
                </ul>
            </div>
        </div>
        <div class="links-panel news">
            <a href=""><h3 class="title">新闻资讯</h3></a>
            <div class="content">
                <ul>
                    <li><a href="">通知公告</a></li>
                    <li><a href="">新闻专题</a></li>
                    <li><a href="">业界动态</a></li>
                </ul>
            </div>
        </div>
        <div class="links-panel exh">
            <a href=""><h3 class="title">名家名作</h3></a>
            <div class="content">
                <ul>
                    <li><a href="">作者名录</a></li>
                    <li><a href="">作品展示 </a></li>
                    <li><a href="">在线展览</a></li>
                </ul>
            </div>
        </div>
        <div class="links-panel communication-education">
            <a href=""><h3 class="title">交流服务</h3></a>
            <div class="content">
                <ul>
                    <li><a href="">组织简介</a></li>
                    <li><a href="">意见反馈</a></li>
                    <li><a href="">网络调查</a></li>
                </ul>
            </div>
        </div>
        <div class="links-panel communication-services">
            <a href=""><h3 class="title">投资收藏</h3></a>
            <div class="content">
                <ul>
                    <li><a href="">投资升值</a></li>
                    <li><a href="">艺术商店</a></li>
                </ul>
            </div>
        </div>
        <div class="links-panel support-us">
            <a href=""><h3 class="title">合作支持</h3></a>
            <div class="content">
                <ul>

                    <li><a href="">合作方式</a></li>
                    <li><a href="">联系我们</a></li>
                    <li><a href="">捐赠我们</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>