#{extends 'moyuan.html'/}
#{set title:'墨缘798' /}

    <div class="current-location-wrap">
        <p class="current-location">
            <a href="../../../" style="color:#ffffff" class="CurrChnlCls">首页</a>&gt;<a href="../../" style="color:#ffffff" class="CurrChnlCls">交流服务</a>&gt;<a href="../" style="color:#ffffff" class="CurrChnlCls">我馆概况</a>&gt;<a href="./" style="color:#ffffff" class="CurrChnlCls">联系我们</a>
        </p>
        <p class="sub-nav">
            <a href="../../cgfw/">参观服务</a>|<a href="../" class="current">我馆概况</a>|<!--<a
                    href="../../wsyssd/">网上艺术商店</a>|--><a href="../../gbook/">观众留言</a>|<a href="../../wjdc/">网络调查</a>|<a href="../../xzzq/">下载专区</a>|<a href="http://shop.namoc.org/">艺术商店</a>

        </p>
    </div>
    <div id="content" class="clearfix">
        <div class="n-main-col overview-details-wrap">
            <div class="inner details-wrap">
                <div class="head">
                    <h2 class="title">
                        联系我们</h2>
                </div>
                <div class="content">


                    <div class="TRS_Editor"><p align="center">&nbsp; <img src="./201304/W020130427389966513130.jpg" oldsrc="W020130427389966513130.jpg" alt="" style="border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; border-left-width: 0px" data-pinit="registered"></p>
                        <p>&nbsp;</p>
                        <p>通讯地址：北京市东城区五四大街一号中国美术馆&nbsp; &nbsp;邮编：100010<br>
                            &nbsp;</p>
                        <p>相关事务联系<br>
                            票务咨询：<br>
                            免费参观票务咨询、团体参观订票热线：010-64006326（9:00-16:00），展览信息语音咨询电话：010-84033500。<br>
                            &nbsp;<br>
                            新闻采访：<br>
                            如有采访需要，请将正式采访函、采访提纲等内容传真至010-84012018，由我馆公共关系部接收并安排采访事宜。<br>
                            &nbsp;<br>
                            申请办展：<br>
                            机构或个人需要申请办展，请参考中国美术馆展览申办程序，如有相关问题咨询电话为010-64034951。<br>
                            &nbsp;<br>
                            教育活动咨询：<br>
                            参加我馆教育活动请参见具体活动参与说明，如有相关问题请发邮件至我馆公共教育部邮箱：ggjy@namoc.org。<br>
                            &nbsp;<br>
                            美术作品捐赠：<br>
                            如有您有捐赠意愿，或有与作品捐赠相关的问题，请发邮件至我馆收藏部邮箱：sc@namoc.org。<br>
                            &nbsp;<br>
                            失物寻找：<br>
                            如果您在我馆展厅内丢失物品，请您及时到一层服务台进行登记；如果您已离开，并确定是在我馆丢失，请您拨打：010-64011816，如有人拾获，我们将及时与您联系。<br>
                            &nbsp;<br>
                            网站相关：<br>
                            如有与网站相关问题或建议，请发邮件至我馆信息与传播部邮箱<font color="#000000">：</font>xxcb@namoc.org。<br>
                            &nbsp;</p></div>


                </div>
                <span class="overview-hr"></span>
                <span class="overview-slide overview-slide-down" title="展开"></span>
            </div>
        </div>
        <!-- <div class="overviewsort-list">
             <dl>
                 <dt>我馆概况</dt>
                 <dd>
                     <a href="#">历史沿革</a></dd>
                 <dd>
                     <a href="#">机构设置</a></dd>
                 <dd>
                     <a href="#">馆领导</a></dd>
                 <dd>
                     <a href="#">招聘志愿者实习生</a></dd>
                 <dd>
                     <a href="#">联系方式</a></dd>
                 <dd>
                     <a href="#">常见问题解答</a></dd>
             </dl>
             <dl class="t-s-bc2">
                 <dt>参观服务</dt>
                 <dd>
                     <a href="#">开放时间及参观办法</a></dd>
                 <dd>
                     <a href="#">地址及路线</a></dd>
                 <dd>
                     <a href="#">设施与服务</a></dd>
                 <dd>
                     <a href="#">参观小贴士</a></dd>
                 <dd>
                     <a href="#">展览活动日历</a></dd>
             </dl>
         </div>!-->
        <div class="overviewsort-list">
            <dl>
                <dt>我馆概况</dt>

                <dd>

                    <a href="../jj/"></a><a href="../jj/">简介</a>

                    <ul class="leadership">





                    </ul>

                </dd>

                <dd>

                    <a href="../jgsz/"></a><a href="../jgsz/">机构设置</a>

                    <ul class="leadership">





                    </ul>

                </dd>

                <dd>

                    <a href="../gld/"></a><a href="../gld/">馆领导</a>

                    <ul class="leadership">



                        <li> <a href="../gld/xrld/">现任领导</a></li>

                        <li> <a href="../gld/lrld/">历任馆长</a></li>



                    </ul>

                </dd>

                <dd>

                    <a href="../sbzl/"></a><a href="../sbzl/">申办展览</a>

                    <ul class="leadership">





                    </ul>

                </dd>

                <dd>

                    <a href="./"></a><a href="./">联系我们</a>

                    <ul class="leadership">





                    </ul>

                </dd>

                <dd>

                    <a href="../cjwtjd/"></a><a href="../cjwtjd/">常见问题解答</a>

                    <ul class="leadership">





                    </ul>

                </dd>

            </dl>
            <!--
            <dl class="t-s-bc2">
                <dt>参观服务</dt>
                <dd>
                    <a href="#">开放时间及参观办法</a></dd>
                <dd>
                    <a href="#">地址及路线</a></dd>
                <dd>
                    <a href="#">设施与服务</a></dd>
                <dd>
                    <a href="#">参观小贴士</a></dd>
                <dd>
                    <a href="#">展览活动日历</a></dd>
            </dl>
            -->
        </div>
    </div>
