#{extends 'moyuan.html'/}
#{set title:'墨缘798' /}
		
		<style>
		.are-exh-list .title1{margin: 8px 10px 0px 10px;font-size: 15px;}
		.house-news-list .title1{margin: 8px 10px 0px 10px;font-size: 15px;}
		</style>
		<script type="text/javascript">
            $(document).ready(function() {
                $('.news-rec-slider ul').before('<p id="num-nav1" class="num-nav">').cycle({
                    timeout: 5000,
                    pager: '#num-nav1'
                });

                $('.rec-pic-scroll-wrap .wrap').cycle({
                    auto: 1,
                    speed: 500,
                    fx: 'scrollHorz',
                    prev: '#prev1',
                    next: '#next1',
                    timeout: 4000
                });


                $(".rec-pic-scroll-wrap li").each(function (index) {
                    $(this).find("a[rel^=works]").fancybox({
                        'transitionIn': 'block',
                        'transitionOut': 'block',
                        'titlePosition': 'over',
                        'titleFormat': function (title, currentArray, currentIndex, currentOpts) {
                            return '<span class="fancybox-title-over-group">' + (title.length ? '' + title : '') + '</span>';
                        }
                    });
                });
                 $('.rec-magazine-wrap .inner').cycle({
                    auto: 1,
                    speed: 1000,
                    fx: 'scrollHorz',
                    prev: '#prev1',
                    next: '#next1',
                    timeout: 4000,
                    cleartypeNoBg: true
                });

                /*
                $(".rec-magazine-wrap .content").hScrollPane({
                    mover:"ul",
                    moverW:function(){return $(".rec-magazine-wrap li").length * 170;}(),
                    showArrow:true,
                    handleCssAlter:"draghandlealter",
                    mousewheel:{moveLength:207}
                });
                */
                hoverMask(".slider-content li");
                hoverMask(".clearfix .image, .rec-exh-video-list li, .rec-pic-scroll-wrap li");
            });
        </script>


<div class="current-location-wrap">
    <p class="current-location"><a href="../" style="color:#ffffff" class="CurrChnlCls">首页</a>&gt;<a href="./" style="color:#ffffff" class="CurrChnlCls">展示鉴赏</a> </p>
    <p class="sub-nav">
        <a class="current" href="./zlzx/">展览资讯</a>|<a href="./zxzl/">在线展览</a>|<a href="./jptz/">精品特展</a>|<a href="./gczp/">馆藏作品</a>|<a href="./spzy/">视频资源</a>
    </p>
</div>
<div id="content" class="exh-lists">
<div class="sliders-list clearfix">
    <div class="exh-slider-wrap current-exh-slider">
        <div class="slider-content">
            <p id="num-nav1" class="num-nav"></p><ul>

            <li>
                <a href="http://www.namoc.org/zsjs/zlzx/201309/t20130922_267650.htm" target="_blank">

                    <img src="./zlzx/zzzc/201311/W020131108372587035023.jpg" style="width:480px; height:450px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>
                            <p class="date">正在展出 | 2013-11-23 至 2014-01-09</p>
                            <h3 title="20世纪中国美术之旅——走向西部">20世纪中国美术之旅——走向西部</h3>
                        </div>
                    </div>
                    <span class="mask" style="width: 480px; height: 450px; top: 0px; left: 0px; opacity: 0.4; display: inline;"></span></a>
            </li>


        </ul>
        </div>
        <h3 class="title"><span><a href="./zlzx/" target="_blank" style="color:#ffffff">正在展出</a></span></h3>
    </div>

    <div class="exh-slider-wrap upcoming-exh-slider">
        <div class="slider-content">
            <p id="num-nav2" class="num-nav"><a href="#" class="active-slide">1</a><a href="#" class="">2</a></p><ul>

            <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 3; opacity: 1;">
                <a href="http://www.namoc.org/zsjs/zlzx/201311/t20131129_271677.htm" target="_blank">

                    <img src="./zlzx/zlyg/201312/W020131210432702349820.jpg" style="width:480px; height:450px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>
                            <p class="date">即将展出 | 2013-12-29 至 2014-01-10</p>
                            <h3 title="我心匪石·黄君书法展">我心匪石·黄君书法展</h3>
                        </div>
                    </div>
                </a>
            </li>

            <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 2; opacity: 0;">
                <a href="http://www.namoc.org/zsjs/zlzx/201311/t20131129_271670.htm" target="_blank">

                    <img src="./zlzx/zlyg/201312/W020131210429074994997.jpg" style="width:480px; height:450px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>
                            <p class="date">即将展出 | 2013-12-19 至 2013-12-26</p>
                            <h3 title="工·在当代——2013第九届中国工笔画大展">工·在当代——2013第九届中国工笔画大展</h3>
                        </div>
                    </div>
                </a>
            </li>


        </ul>
        </div>
        <h3 class="title"><span><a href="./zlzx/" target="_blank" style="color:#ffffff">展览预告</a></span></h3>
    </div>
</div>

<div class="sliders-list clearfix">
    <div class="exh-slider-wrap online-exh-slider">
        <div class="slider-content">
            <p id="num-nav3" class="num-nav"><a href="#" class="active-slide">1</a><a href="#" class="">2</a><a href="#" class="">3</a></p><ul>

            <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1;">
                <a href="http://www.namoc.org/quanjing/2013/20131204_lxgcjpz/">

                    <img src="./zxzl/201312/W020131204601478621466.jpg" style="width:480px; height:240px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>
                            <h3 title="中国美术馆藏刘岘版画作品展">中国美术馆藏刘岘版画作品展</h3>
                        </div>
                    </div>
                </a>
            </li>

            <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0;">
                <a href="http://www.namoc.org/quanjing/2013/20131122_tbrs_lyqbhysz/">

                    <img src="./zxzl/201311/W020131125524696430182.jpg" style="width:480px; height:240px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>
                            <h3 title="铁笔如椽——罗映球版画艺术展">铁笔如椽——罗映球版画艺术展</h3>
                        </div>
                    </div>
                </a>
            </li>

            <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0;">
                <a href="http://www.namoc.org/quanjing/2013/20131122_jsyy_ljssyystz/">

                    <img src="./zxzl/201311/W020131125520725344652.jpg" style="width:480px; height:240px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>
                            <h3 title="静山远韵——郎静山摄影艺术特展">静山远韵——郎静山摄影艺术特展</h3>
                        </div>
                    </div>
                </a>
            </li>


        </ul>
        </div>
        <h3 class="title"><span><a href="./zxzl/" target="_blank" style="color:#ffffff">在线展览</a></span></h3>
    </div>

    <div class="exh-slider-wrap choice-exh-slider">
        <div class="slider-content">
            <p id="num-nav4" class="num-nav"><a href="#" class="active-slide">1</a><a href="#" class="">2</a><a href="#" class="">3</a></p><ul>

            <li style="position: absolute; top: 0px; left: 0px; display: block; z-index: 4; opacity: 1;">
                <a href="http://www.namoc.org/zsjs/gczp/cpjxs/201304/t20130417_220684.htm">
                    <img src="./gczp/201304/W020130421482169282343.jpg" style="width:480px; height:240px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>

                            <h3 title="《花摊》潘玉良">《花摊》潘玉良</h3>
                        </div>
                    </div>
                </a>
            </li>

            <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0;">
                <a href="http://www.namoc.org/zsjs/gczp/cpjxs/201304/t20130417_220620.htm">
                    <img src="./gczp/201304/W020130421480430381443.jpg" style="width:480px; height:240px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>

                            <h3 title="《香港码头》陈抱一">《香港码头》陈抱一</h3>
                        </div>
                    </div>
                </a>
            </li>

            <li style="position: absolute; top: 0px; left: 0px; display: none; z-index: 3; opacity: 0;">
                <a href="http://www.namoc.org/zsjs/gczp/cpjxs/201304/t20130417_222375.htm">
                    <img src="./gczp/201304/W020130428592725426256.jpg" style="width:480px; height:240px; border:0px;" data-pinit="registered">
                    <div class="text">
                        <div>

                            <h3 title="《山村晴雪》吴冠中">《山村晴雪》吴冠中</h3>
                        </div>
                    </div>
                </a>
            </li>


        </ul>
        </div>
        <h3 class="title"><span><a href="./gczp/" target="_blank" style="color:#ffffff">馆藏作品</a></span></h3>
    </div>
</div>
<span class="blank-10"></span>
<div class="rec-exh-video-list">
    <ul class="list clearfix">

        <li class="indent">
            <a href="http://www.namoc.org/Videos/spzy/zlhd/2013/201312/t20131209_271930.htm" target="_blank">
                <img src="http://www.namoc.org/Videos/spzy/zlhd/2013/201312/W020131209588125212889.jpg" width="313" height="240" data-pinit="registered">
                <div class="text" title="北京神韵——重大历史题材中国山水画展">
                    <span class="overlay"></span>
                    <div>
                        <p class="date">2013-12-09</p>
                        <h3>北京神韵——重大历史题材中国山水画展</h3>
                    </div>
                    <em class="play-ico"></em>
                </div>
            </a>
        </li>


        <li>
            <a href="http://www.namoc.org/Videos/spzy/spzt/201311/t20131127_271572.htm" target="_blank">
                <img src="http://www.namoc.org/Videos/spzy/spzt/201311/W020131127371283153776.jpg" width="313" height="240" data-pinit="registered">
                <div class="text" title="交互视象——2013海峡两岸当代艺术展">
                    <span class="overlay"></span>
                    <div>
                        <p class="date">2013-11-27</p>
                        <h3>交互视象——2013海峡两岸当代艺术展</h3>
                    </div>
                    <em class="play-ico"></em>
                </div>
            </a>
        </li>

        <li>
            <a href="http://www.namoc.org/Videos/spzy/zlhd/2013/201311/t20131129_271689.htm" target="_blank">
                <img src="http://www.namoc.org/Videos/spzy/zlhd/2013/201311/W020131129536613778293.jpg" width="313" height="240" data-pinit="registered">
                <div class="text" title="万象随心——尚可作品展">
                    <span class="overlay"></span>
                    <div>
                        <p class="date">2013-11-29</p>
                        <h3>万象随心——尚可作品展</h3>
                    </div>
                    <em class="play-ico"></em>
                </div>
            </a>
        </li>

    </ul>
    <h2 class="title"><span><a href="http://www.namoc.org/zsjs/spzy/zlhd/" style="color:#fff">视频资源</a></span></h2>
</div>
</div>

