
<ul class="nav nav-list">
	<li class="active">
		<a href="@{admin.Article.allArticle}">
			<i class="icon-dashboard"></i>
			<span class="menu-text"> 控制台 </span>
		</a>
	</li>

	<li>
		<a href="@{admin.Article.allArticle}">
			<i class="icon-text-width"></i>
			<span class="menu-text"> 文章管理 </span>
		</a>
	</li>
	<li>
		<a href="@{admin.Classify.allClassify}">
			<i class="icon-text-width"></i>
			<span class="menu-text"> 分类管理 </span>
		</a>
	</li>
	<li>
		<a href="@{admin.Page.allPages}">
			<i class="icon-text-width"></i>
			<span class="menu-text"> 页面管理 </span>
		</a>
	</li>
	<li>
		<a href="@{admin.MediaPar.allMediaPar}">
			<i class="icon-text-width"></i>
			<span class="menu-text"> 媒体管理 </span>
		</a>
	</li>

	

	
</ul>